.project-list-container {
    
    .project-list-filter  {
        background: $color-lightgray;
        padding: 10px;
        margin: 50px 0;
        
        .SumoSelect  {
            width: 100%;
        }
    }
    
    
}


//SUMMARY DETAILS
.project-summary-container {
    background: $color-lightgray; 
    
    .summary-featured-image {
        background-size: cover;
        background-position: center;
    }
    
    .col-md-8 {
        padding: 30px;
        
        .summary-heading {
            h4 {
                font-size: 1.5em;
                font-family: $font-primary;
            }
        }
        
        .inner-item {
            h4 {
                background: $color-primary;
                color: $color-white;
                padding: 5px;
            }
            
            p {
                color: $color-secondary;
                font-size: 1.4em;
                text-transform: capitalize;
            }
        }
    }
    
    
}

//related projects
.project-list-holder {
    padding: 5%;
    margin-bottom: 50px;
    
    > h4 {
        border-bottom: 1px solid $color-lightgray;
        padding: 10px 0;
        margin-bottom: 25px;
    }
    
    .project-list-item {
        margin-bottom: 25px;
        
        .col-md-8 {
            h4 {
                font-size: 1.8em;
                text-transform: uppercase;
                font-family: $font-primary;
            }
            
            
            h5 {
                background: $color-secondary;
                display: inline-block;
                color: $color-white;
                margin-top: 0;
                font-size: .9em;
                padding: 5px 20px;  
                @include border-radius(10px);
            }
            
            a {
                display: inline-block;
                background: $color-primary;
                padding: 5px 15px;
                color: $color-white;
                text-decoration: none;
                @include border-radius(5px);
                text-transform: uppercase;
                font-size: .9em !important;
                font-weight: bold;
                
                &:hover {
                    background: $color-secondary;
                    opacity: .6;
                }
                
            }
        }
    }
    
    .load-more-projects {
        a {
            background: $color-primary;
            border: 0;
            color: #fff;
            padding: 10px 40px;
            margin: 50px 0;
        }
    }
    
    
    a {
        text-decoration: none;
    }
    
}


.page-id-3592 {
    .project-list-holder {
        padding: 0;
    }
}