.single {
    .post-navigation {
        display: none;
        
    }
}


.single-forbes_careers  {
    .career-content {
         margin: 70px 0 auto !important;
    }
    
   
}


.single-forbes_branches {
    .branch-title {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        padding-bottom: 10px;
    }
}
