
//COMMON COLORS
$color-dark:#252525 !important; 
$color-gray2:#c1c1c1 !important; 
$color-black:#000000 !important; 


//THEME USE COLORS
$color-darkblue:#0a3578 !important; 
$color-green:#03b840 !important; 
$color-gray:#828080 !important; 


$color-blue:#0173bc !important; 

$color-white:#fff !important; 

$color-lightgray:#ebebeb !important; 
$color-lightgray2:#fbfafa !important; 


$color-dark:#262626 !important; 
$color-orange:#f36a22 !important; 
$color-darkorange:#b7460b !important; 

$color-primary:$color-orange; 
$color-secondary:$color-dark; 
$color-third:$color-white;    
