$font-primary:'Oswald', sans-serif !important; 
$font-secondary:'Roboto', sans-serif !important;
$font-third:'Open Sans', sans-serif !important;


//FONT WEIGHT 
$light:300;
$medium:500;
$regular:400;
$bold:700; 
$semibold:600;

